
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.iml
.idea
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
target*/
.idea*/
#resource*/
${rpt.build.backup.dir}*/
rpt_resources*/
*.class
#*.jar
*.bak
*.prefs
*.orig
*.REMOTE
*.name
*.classpath
*.tmp
*.iml
Test.java
dist
overlays
.project
.classpath

#for copied res
**/WLS_RPT/WLS_RPT_FE/config/report_template/jxls/
**/WLS_RPT/WLS_RPT_BE/config/report_template/jxls/
*.vscode
node_modules/
